@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  html {
    /* @apply text-base scroll-smooth max-w-[1440px] mx-auto; */
    @apply text-base max-w-[1440px] mx-auto scroll-smooth;
  }
}

html,
body {
  font-family: "Quicksand", sans-serif !important;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  :root {
    --primary-100: #ffe0d8;
    --primary-200: #ff623e;
    --primary-300: #cc4e32;
    --primary-400: #80311f;

    /* Neutral (light mode column) */
    --neutral-0: #ffffff;
    --neutral-25: #0a0d12;
    --neutral-50: #181d27;
    --neutral-100: #252b37;
    --neutral-200: #414651;
    --neutral-300: #535862;
    --neutral-400: #717680;
    --neutral-500: #a4a7ae;
    --neutral-600: #aaaaaa;
    --neutral-700: #e9eaeb;
    --neutral-800: #dfdfdf;
    --neutral-900: #dedcdc;
    --neutral-950: #fafafa;
    --neutral-1000: #000000;
  }

  .dark {
    /* Primary (tetap sama menurut tabel-mu) */
    --primary-100: #ffe0d8;
    --primary-200: #ff623e;
    --primary-300: #cc4e32;
    --primary-400: #80311f;

    /* Neutral (dark mode column) */
    --neutral-0: #000000;
    --neutral-25: #fdfdfd;
    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e9eaeb;
    --neutral-300: #d5d7da;
    --neutral-400: #a4a7ae;
    --neutral-500: #717680;
    --neutral-600: #535862;
    --neutral-700: #414651;
    --neutral-800: #252b37;
    --neutral-900: #181d27;
    --neutral-950: #0a0d12;
    --neutral-1000: #ffffff;
  }

  .bg-primary-100 {
    background-color: var(--primary-100);
  }
  .bg-primary-200 {
    background-color: var(--primary-200);
  }
  .bg-primary-300 {
    background-color: var(--primary-300);
  }
  .bg-primary-400 {
    background-color: var(--primary-400);
  }

  .bg-neutral-25 {
    background-color: var(--neutral-25);
  }
  .bg-neutral-50 {
    background-color: var(--neutral-50);
  }
  .bg-neutral-100 {
    background-color: var(--neutral-100);
  }
  .bg-neutral-200 {
    background-color: var(--neutral-200);
  }
  .bg-neutral-300 {
    background-color: var(--neutral-300);
  }
  .bg-neutral-400 {
    background-color: var(--neutral-400);
  }
  .bg-neutral-500 {
    background-color: var(--neutral-500);
  }
  .bg-neutral-600 {
    background-color: var(--neutral-600);
  }
  .bg-neutral-700 {
    background-color: var(--neutral-700);
  }
  .bg-neutral-800 {
    background-color: var(--neutral-800);
  }
  .bg-neutral-900 {
    background-color: var(--neutral-900);
  }
  .bg-neutral-950 {
    background-color: var(--neutral-950);
  }

  /* Text */
  .text-primary-100 {
    color: var(--primary-100);
  }
  .text-primary-200 {
    color: var(--primary-200);
  }
  .text-primary-300 {
    color: var(--primary-300);
  }
  .text-primary-400 {
    color: var(--primary-400);
  }

  .text-neutral-25 {
    color: var(--neutral-25);
  }
  .text-neutral-50 {
    color: var(--neutral-50);
  }
  .text-neutral-100 {
    color: var(--neutral-100);
  }
  .text-neutral-200 {
    color: var(--neutral-200);
  }
  .text-neutral-300 {
    color: var(--neutral-300);
  }
  .text-neutral-400 {
    color: var(--neutral-400);
  }
  .text-neutral-500 {
    color: var(--neutral-500);
  }
  .text-neutral-600 {
    color: var(--neutral-600);
  }
  .text-neutral-700 {
    color: var(--neutral-700);
  }
  .text-neutral-800 {
    color: var(--neutral-800);
  }
  .text-neutral-900 {
    color: var(--neutral-900);
  }
  .text-neutral-950 {
    color: var(--neutral-950);
  }

  /* Border */
  .border-primary-200 {
    border-color: var(--primary-200);
  }
  .border-neutral-400 {
    border-color: var(--neutral-400);
  }

  @keyframes marquee-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    @apply animate-[marquee-x_60s_linear_infinite];
  }
  .company-logo {
    @apply h-[34px] w-auto md:w-auto md:h-[48px] object-contain brightness-0 invert-[45%];
  }

  /* 1) Kartu bundar */
  .metric-card {
    @apply rounded-full flex flex-col items-center justify-center text-center aspect-square
           w-full border-[var(--neutral-900)] border-[1px]
           bg-[var(--neutral-950)];
  }

  .metric-value {
    @apply text-[36px] md:text-[48px] leading-[44px] md:leading-[60px] tracking-[-0.02em]
           text-[var(--primary-200)] font-bold;
  }

  .metric-label {
    @apply text-[14px] md:text-[20px] leading-[28px] md:leading-[34px] font-semibold text-[var(--neutral-25)];
  }

  .solution-content {
    @apply cursor-pointer transition-all duration-300 flex flex-col bg-[var(--neutral-950)] pt-[48px] pl-[20px] pr-[20px] pb-[20px] relative border-[1px] border-[var(--neutral-900)] rounded-[16px] flex-1;
  }
  .solution-content:hover {
    @apply shadow-[-2px_-2px_8px_-2px_rgba(255,108,55,0.75)] scale-[1.02];
  }

  .built-industry-menu:hover,
  .built-industry-menu:focus,
  .built-industry-menu.active {
    @apply font-bold border-[var(--primary-200)] text-[var(--neutral-25)];
  }

  .partner-content:hover {
    @apply shadow-[-2px_-2px_8px_-2px_rgba(255,108,55,0.75)] scale-[1.02];
  }

  .custom-checkbox {
    @apply appearance-none w-[20px] h-[20px] rounded-[6px] border border-[var(--neutral-500)] bg-transparent cursor-pointer checked:bg-[#FF623E] checked:border-[#FF623E] checked:bg-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjY2NzMgMy41TDUuMjUwNjUgOS45MTY2N0wyLjMzMzk4IDciIHN0cm9rZT0iI0ZERkRGRCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+')] checked:bg-no-repeat checked:bg-center checked:bg-[length:14px_14px] transition-colors;
  }

  .timeline-line {
    @apply relative;
  }

  .timeline-line::after {
    content: "";
    @apply absolute top-full left-1/2 translate-x-[-50%] w-[2px] h-[84px] bg-[var(--neutral-900)];
  }

  .menu-footer {
    @apply text-[var(--neutral-25)] py-[8px] text-[14px] leading-[28px] font-medium md:px-[16px] md:py-[8px] md:text-[16px] md:leading-[30px];
  }

  .menu-hover {
    @apply relative cursor-pointer text-[var(--neutral-50)] transition-all duration-300 ease-in-out;
  }

  .menu-hover::after {
    content: "";
    @apply absolute left-1/2 bottom-[-10px] h-[2px] w-0 bg-[var(--primary-200)] transition-all duration-300 ease-in-out;
    transform: translateX(-50%);
  }

  .menu-hover:hover {
    @apply text-[var(--primary-200)];
  }

  .menu-hover:hover::after {
    @apply w-full;
  }

  .our-process-card:hover {
    @apply shadow-[-2px_-2px_8px_-2px_rgba(255,108,55,0.75)] scale-[1.02];
  }

  .our-process-card {
    @apply flex flex-row flex-1 p-[16px] md:p-[24px] gap-[4px] text-left bg-[var(--neutral-950)] rounded-[16px] border-[var(--neutral-900)] border-[1px] transition-all ease-in-out duration-300 cursor-pointer;
  }
}
